body {
    padding: 0;
    margin: 1em 0;
    height: 100%;
}

#related {
    min-height: 100%;
    float: right;
    margin: 1em 0;
}

section#comments {
    padding: 20px;
}

.date {
    float: right;
}

.comment p {
    padding: 20px;
    background-color: #e6e6e6;
}

form {
    padding: 10px;
    background-color: #e6e6e6;
}

div#signup {
    text-align: right;
}

@media screen and (max-width: 768px) {
    #related {
        display: none;
    }

    #news {
        width: 100%;
    }
}