/* Reset de estilos padrão para garantir uma aparência consistente em todos os navegadores */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    color: #333;
}

.header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.button-form {
    display: inline-block;
    margin-right: 10px;
}

.button-form input[type="submit"] {
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-form input[type="submit"]:hover {
    background-color: #2980b9;
}

.button-form input[type="submit"]:focus {
    outline: none;
}

.button-form.register input[type="submit"] {
    background-color: #2ecc71;
}

.button-form.register input[type="submit"]:hover {
    background-color: #27ae60;
}

.tickets-container {
    margin: 20px;
}

.tickets-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tickets-table th, .tickets-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tickets-table th {
    background-color: #3498db;
    color: #fff;
}

.tickets-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tickets-table tr:hover {
    background-color: #e0e0e0;
}

.ticket-form {
    margin-top: 10px;
}

.ticket-form label {
    display: block;
    margin-bottom: 5px;
}

.ticket-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.action-button {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #2980b9;
}

.details-section {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}