@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body>header {
  background-color: #046dd5;
  color: white;
  padding: 1em;
}

body>header h1,
body>header h2 {
  margin: 0;
}

body>header a {
  color: white;
  text-decoration: none;
}

body>header #signup {
  margin-top: 1em;
}

body>header #signup a {
  padding: 0 1em;
  border-right: 1px solid white;
}

body>header #signup a:first-child {
  padding-left: 0;
}

#menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

#menu li {
  flex: 1;
  background-color: white;
  text-align: center;
  list-style-type: none;
  padding: 1em 0;
}

#menu li a {
  color: black;
  text-decoration: none;
}

#menu li:hover {
  background-color: #2a2f33;
}

#menu li:hover a {
  color: white;
}

#hamburger, .hamburger {
  display: none;
}

#news header {
  max-width: 10em;
  padding: 1em;
  position: absolute;
}

#news header h1 {
  margin: 0;
  text-shadow: .2em .2em .2em black;
}

#news header a {
  color: white;
  text-decoration: none;
}

#news img {
  width: 100%;
}

#news>article {
  background-color: white;
  margin: 1em 0;
}

#news>article>p {
  padding: 0 1em;
}

#news>article>p:first-of-type:first-letter {
  font-size: 2em;
}

#news footer {
  color: white;
  background-color: #f4655f;
  padding: 1em;
}

#news footer a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

#news footer .tags {
  margin-right: 1em;
}

#news footer .comments {
  margin-left: 1em;
}

#news footer .comments:after {
  content: ' comments';
}

#news footer .author:before {
  content: "By ";
}

#related {
  background-color: #2a2f33;
  padding: 1em;
}

#related h1 a {
  color: white;
  text-decoration: none;
}

#related p {
  color: white;
}

body>footer {
  background-color: #2a2f33;
  color: white;
  padding: 1em;
  height: 1em;
}

body>footer p {
  margin: 0;
}

#menu li:nth-child(1) { border-top: 5px solid #e1493e; }
#menu li:nth-child(2) { border-top: 5px solid #8aba56; }
#menu li:nth-child(3) { border-top: 5px solid #5b4282; }
#menu li:nth-child(4) { border-top: 5px solid #ff8932; }
#menu li:nth-child(5) { border-top: 5px solid #19b6e9; }
#menu li:nth-child(6) { border-top: 5px solid #e84c8b; }

@media screen and (max-width: 768px) {
  nav#menu {
    background-color: #ffffff;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  nav ul li {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body {
    margin: 0;
  }

  #hamburger, .hamburger {
    display: flex;
    width: 4%;
  }

  #menu ul {
    display: none;
    transition: opacity 0.4s, transform 0.4s;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }

  #hamburger:checked+label+#menu ul {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }

  #hamburger {
    display: none;
  }

  label.hamburger {
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    color: #fff;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 15px;
    margin: 7px;
  }

  label.hamburger::before, label.hamburger::after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000000;
    position: absolute;
    transition: transform 0.3s ease;
  }

  label.hamburger::before {
    top: 10px;
  }

  label.hamburger::after {
    top: 20px;
  }

  input[type="checkbox"]:checked+label.hamburger::before {
    transform: rotate(45deg);
    top: 16px;
  }

  input[type="checkbox"]:checked+label.hamburger::after {
    transform: rotate(-45deg);
    top: 16px;
  }

  #menu li a {
    text-align: left;
    padding-left: 2px;
  }

  #menu li {
    padding: 5px;
  }

  #menu li:nth-child(1) {
    text-align: left;
    border-top: 0;
    border-left: 4px solid #e1493e;
  }

  #menu li:nth-child(2) {
    text-align: left;
    border-top: 0;
    border-left: 4px solid #8aba56;
  }

  #menu li:nth-child(3) {
    text-align: left;
    border-top: 0;
    border-left: 4px solid #5b4282;
  }

  #menu li:nth-child(4) {
    text-align: left;
    border-top: 0;
    border-left: 4px solid #ff8932;
  }

  #menu li:nth-child(5) {
    text-align: left;
    border-top: 0;
    border-left: 4px solid #19b6e9;
  }

  #menu li:nth-child(6) {
    text-align: left;
    border-top: 0;
    border-left: 4px solid #e84c8b;
  }
}